body {
	background: white;
	color: black;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, helvetica, sans-serif
}

a:link {
	color: #0000FF;
	background-color: white;
	text-decoration: none
}

a:visited {
	color: #0000FF;
	background-color: white;
	text-decoration: none
}

a:active {
	color: #0000FF;
	background-color: white;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

hr {
	margin: 8pt 10px 0 10px;
	clear: both;
}

p, h3, li, pre {
	margin-left: 64px;
	margin-right: 64px
}

h1, h2 {
	margin-left: 10px;
	margin-right: 10px;
	clear: both
}

h1 {
	margin-top: 60px;

	font-family: Georgia, serif;
	font-size: 48px;
  font-weight: normal;
  font-style: italic
}

h1.centre {
	margin: 10px 0 0 0;
	text-align: center
}

h2 {
	margin-top: 40px;

  font-weight: normal;
  font-style: italic
}

h3 {
  font-weight: normal;
  font-style: italic
}

ul, table {
	margin-left: 64px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px
}

th {
	text-align: left;
	vertical-align: top
}

/*
 * NAVIGATION
 */

p.nav {
	background-color: #00007F;
	color: white;

	border-style: none;
	border-width: thin;
	padding: 1px 10px 1px 10px;
	margin: 0 0 0 0;

	font-family: Tahoma, Arial, helvetica, sans-serif;
	font-size: 10pt
}

a.nav {
	color: white;
	background-color: #00007F;
	text-decoration: none
}

a:link.nav {
	color: white;
	background-color: #00007F;
	text-decoration: none
}

a:visited.nav {
	color: white;
	background-color: #00007F;
	text-decoration: none
}

a:active.nav {
	color: white;
	background-color: #00007F;
	text-decoration: none
}

p.legal {
	margin-top: 8pt;
	margin-bottom: 0;
	margin-left: 10px;
	font-family: arial, helvetica, sans-serif;
	font-size: 8pt
}

img {
	border-color: white
}

p.image {
	margin: 10px 0 0 10px
}

p.image-c {
	margin: 10px 0 0 0;
	text-align: center
}
/*
a.image {
	color: white;
	background-color: white
}
*/
address {
	margin-left: 10px;
	font-size: 10pt;
	font-style: italic
}
